@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
/* colors accross the document */
:root{
    --active-text-light : rgb(220, 220, 220);
    --active-text-dark : rgb(16, 16, 16);
}
*{
    font-family: 'poppins', sans-serif;
    color: var(--active-text-light);
}
body{
    margin: 0;
    padding: 0;
    background-color: #101010;
}

.navbar-links-container{
    background-color: transparent;
    width: 100vw;
    position: fixed;
    padding: 1rem 0rem 1rem 0rem;
    transition: all 1s;
}

.navbar-links-container-scrolled{
   background-color: var(--active-text-light);
}
.navbar-links-container-scrolled ul li a{
    color: var(--active-text-dark);
}

.navbar-links-list {
    list-style: none;
    margin: 0;
    padding: 0rem;
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

.navbar-links-list li a{
    color: var(--active-text-light);
    font-weight: 800;
    text-decoration: none;
    font-size: 1.5rem;
    margin: 0.5rem 3rem;
    transition: all 0.5s;
}
.navbar-links-list li a:hover{
    color: crimson;
}

section{
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    text-align: center;
    
    background-image: url('../images/hero-background.jpg');
    background-attachment: fixed;
}

.hero-section h1{
    font-size: 5rem;
    transition: color 2s;
    padding: -1rem;
}
.hero-section h1 , .hero-section h2{
    margin: 0rem;
}

.social-icons{
    margin: 2rem 0rem 0rem 0rem;
}

.social-icon-anchor{
    margin: 0rem 2rem 0rem 0rem;
    
}


.social-icon-anchor img{
    box-sizing: border-box;
    background-color: var(--active-text-light);
    height: 50px;
    width: 50px;
    transition: all 0.5s;
    border-radius: 50%;
    animation: 0.5s infinite socialIconAnimation;
}
.social-icon-anchor img:hover{
    animation: none;
    transform: scale(1.4);
    border: 0.2rem solid var(--active-text-light);
}

@keyframes socialIconAnimation {
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.1);
    }
    100%{
        transform: scale(1);
    }
}


.presentation-text-hidden{
    opacity: 0;
    position: relative;
    transform: translateX(-150px) translateY(-50px);
    transition: all 0s;
}

.presentation-text-visible{
    color: white;
    opacity: 1;
    transition: all 3s;
    position: relative;
}