@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
/* colors accross the document */
:root{
    --active-text-light : rgb(220, 220, 220);
    --active-text-dark : rgb(2, 2, 2);
    --my-crimson :crimson;
}
*{
    font-family: 'poppins', sans-serif;
    scroll-behavior: smooth;
}
body{
    margin: 0;
    padding: 0;
    background-color: var(--active-text-light);
}

section{
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    text-align: center;
    border-radius: 0rem 25% 2rem 40%;
    background-image: url('../images/hero-background.jpg');
    background-attachment: fixed;
}

.hero-section h1{
    font-size: 5rem;
    transition: color 2s;
    padding: -1rem;
}
.hero-section h1 , .hero-section h2{
    margin: 0rem;
}

.social-icons{
    margin: 2rem 0rem 0rem 0rem;
    position: sticky;
}

.social-icon-anchor{
    margin: 0rem 2rem 0rem 0rem;
    
}

.social-icon-anchor img{
    box-sizing: border-box;
    background-color: var(--active-text-light);
    height: 50px;
    width: 50px;
    transition: all 0.2s;
    border-radius: 50%;
    animation: 1s infinite socialIconAnimation;
    filter: drop-shadow(0 -0.1rem 0.5rem crimson);
}
.social-icon-anchor img:hover{
    animation: none;
    transform: scale(1.4);
    border: 0.2rem solid var(--active-text-light);
    filter: drop-shadow(0 -0.1rem 0.3rem rgb(236, 236, 236));
}

@keyframes socialIconAnimation {
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.1);
    }
    100%{
        transform: scale(1) ;
    }
}

@keyframes socialIconAnimationBig {
    0%{
        transform: scale(1.4);
    }
    50%{
        transform: scale(1.5);
    }
    100%{
        transform: scale(1.4) ;
    }
}

.presentation-text-hidden{
    opacity: 0;
    position: relative;
    transform: translateY(-50px);
    transition: all 0s;
}

.presentation-text-visible{
    color: white;
    opacity: 1;
    transition: all 3s;
    position: relative;
}

@media only screen and (max-width : 800px)  {
    .hero-section{
        border-radius: 0rem 0rem 0rem 0rem;
    }
}