#loading-section{
    background-color: black;
    color: crimson;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100vh;
    z-index: 100;
    font-size: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: top 1.5s;
}
