:root{
    --active-text-light : rgb(220, 220, 220);
    --active-text-dark : rgb(2, 2, 2);
    --my-crimson : crimson;
}

.navbar-links-container{
    width: 100vw;
    position: fixed;
    z-index: 1;
    padding: 1rem 0rem 1rem 0rem;
    transition: background-color 0.7s;
    display: flex;
    align-items: center;
}

.navbar-links-container-scrolled{
   background-color: var(--my-crimson);
}
.navbar-links-container-scrolled ul li a{
    color: var(--active-text-light);
}

#hamburger{
    font-size: 1.5rem;
    pointer-events: none;
    margin: 0rem 0rem 0rem 1rem;
    height: 0px;
    width: 0px;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}

#hamburger-middle-bar{
    position: relative;
    display: none;
    height: 0.3rem;
    border-radius: 2rem;
    width: 90%;
    background-color: var(--active-text-dark);
}
#hamburger-middle-bar::before,#hamburger-middle-bar::after{
    position: relative;
    top: -2rem;
    content: '';
    display: none;
    height: 0.25rem;
    border-radius: 2rem;
    width: 100%;
    background-color: var(--active-text-dark);
}
#hamburger-middle-bar::after{
    top: -2.8rem;
}


.navbar-links-list {
    list-style: none;
    margin: 0;
    padding: 0rem;
    display: flex;
    width: 100%;
}

.navbar-links-list li a{
    color: var(--active-text-light);
    font-weight: 800;
    text-decoration: none;
    font-size: 1.5rem;
    margin: 0.5rem 3rem;
    transition: all 0.5s;
}

.navbar-links-list li {
    transition: all 0.3s;
}
.navbar-links-list li:hover{
    transform: scale(1.1);
}

@media only screen and (max-width : 800px) {
    .navbar-links-list {
        display: flex;
        flex-direction: column;
        margin: 1rem 0rem 0rem 0rem;
    }
    .navbar-links-container{
        background-color: var(--my-crimson);
        flex-direction: column;
        align-items: flex-start;
        margin: 0rem 0rem 0rem 0rem;
    }
    .navbar-links-list li{
        margin: 1.4rem 0rem 0rem 0rem;
    }
    .navbar-links-list li a{
        color: var(--active-text-light);
        margin: 1rem 1rem 1rem 1rem;
    }
    #hamburger{
        height: 50px;
        width: 50px;
        cursor: pointer;
        pointer-events: all;
        display: flex;
        background-color: transparent;
    }
    #hamburger-middle-bar{
        display: inline-block;
    }
    #hamburger-middle-bar::before{
            display: inline-block;
    }
    #hamburger-middle-bar::after{
        display: inline-block;
    }
}