:root{
    --active-text-light : rgb(220, 220, 220);
    --active-text-dark : rgb(16, 16, 16);
}

body::-webkit-scrollbar {
    width: 0.5rem;
}
   
body::-webkit-scrollbar-track {
    background-color: var(--active-text-dark);
}
   
body::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
    border-radius: 1rem;
}

body::-webkit-scrollbar-thumb:hover {
    background-color: crimson;
}